body { margin: auto;
    width: 800px;
    }

.navigasi {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0.5px;
    
}

.navigasi ul li {
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
}

.navigasi a {
    color: white;
    text-decoration: none;
    
}

.navigasi a:hover {
    background-color: lightcoral;
    padding: 15px;
}

.home {
    background-image: url(test4.jpg);
    background-size: cover;
    height: 450px;;
    padding-top: 15px;
}
.home h1,h2{
    box-sizing: content-box;
    width: 600px;
    margin-top: 80px;
    width: 600px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.menu {
    margin-top: 100px;
}

.menu a {
    border-radius: 90px;
    margin-left: 220px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    color: white;
    background-color: goldenrod;
    padding: 25px 70px;
    text-decoration: none;
    margin-top : 900px;
}

.footer {
    height: 50px;
    width: 800px;
    background: black;
    padding-top: 10px;
}

.footer h4 {
    color:white;
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
}